p{
	font-family: coursive;
	border: 1px solid black;
	padding-top: 30px;
	padding-left: 50px;
	margin-left: 0px;
	margin-bottom: 50px;
	border: 5px solid lightsalmon;
}
img{
 border-width: 5px;
 border-style: solid;
 border-color: white;
 }
 h1{
	border: 1px solid black;
	background-color: lightblue;
	padding-top: 30px;
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 50px;
}
#4
{
         background-color: black;
         color: white;
         text-decoration: none;
         margin-left: -4px;
         padding: 12px;
      }
      ul{
         margin-left: -50px;
         margin-top: -1px;
      }
      a:hover{
         background-color: green;
      }